Leaderboard-Update-Workflow.json
{
  "name": "Quiz Results - Leaderboard Update",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quiz-leaderboard-update",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "quiz-leaderboard-update"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM leaderboard WHERE student_id = '{{ $json.body.student_id }}' AND quiz_date = '{{ $json.body.quiz_date }}' LIMIT 1;",
        "additionalFields": {}
      },
      "id": "check-existing-entry",
      "name": "Check Existing Entry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-exists",
      "name": "IF Entry Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leaderboard SET score = {{ $('Webhook').item.json.body.score }}, time_taken_seconds = {{ $('Webhook').item.json.body.time_taken_seconds }}, rank = 999 WHERE student_id = '{{ $('Webhook').item.json.body.student_id }}' AND quiz_date = '{{ $('Webhook').item.json.body.quiz_date }}' RETURNING *;",
        "additionalFields": {}
      },
      "id": "update-existing",
      "name": "Update Existing Entry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 200],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leaderboard (student_id, quiz_date, score, time_taken_seconds, rank) VALUES ('{{ $('Webhook').item.json.body.student_id }}', '{{ $('Webhook').item.json.body.quiz_date }}', {{ $('Webhook').item.json.body.score }}, {{ $('Webhook').item.json.body.time_taken_seconds }}, 999) RETURNING *;",
        "additionalFields": {}
      },
      "id": "insert-new",
      "name": "Insert New Entry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [850, 400],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByPosition"
      },
      "id": "merge-branches",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, student_id, score, time_taken_seconds FROM leaderboard WHERE quiz_date = '{{ $('Webhook').item.json.body.quiz_date }}' ORDER BY score DESC, time_taken_seconds ASC;",
        "additionalFields": {}
      },
      "id": "get-all-scores",
      "name": "Get All Today Scores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1250, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const entries = $input.all();\n\nconst rankedEntries = entries.map((item, index) => ({\n  id: item.json.id,\n  rank: index + 1\n}));\n\nreturn rankedEntries.map(entry => ({ json: entry }));"
      },
      "id": "calculate-ranks",
      "name": "Calculate Ranks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-batches",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1650, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leaderboard SET rank = {{ $json.rank }} WHERE id = '{{ $json.id }}';",
        "additionalFields": {}
      },
      "id": "update-rank",
      "name": "Update Rank",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [1850, 300],
      "credentials": {
        "postgres": {
          "id": "supabase-credentials",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Webhook').item.json.body;\nconst allScores = $('Get All Today Scores').all();\n\nconst studentEntry = allScores.find(entry => \n  entry.json.student_id === webhookData.student_id\n);\n\nconst rank = studentEntry ? \n  allScores.findIndex(entry => entry.json.id === studentEntry.json.id) + 1 \n  : null;\n\nreturn [{\n  json: {\n    success: true,\n    message: \"Quiz results and leaderboard updated successfully\",\n    data: {\n      score: webhookData.score,\n      rank: rank,\n      total_students: allScores.length,\n      concepts_to_review: [],\n      next_milestone: \"Keep going!\"\n    }\n  }\n}];"
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Check Existing Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Existing Entry": {
      "main": [
        [
          {
            "node": "IF Entry Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Entry Exists": {
      "main": [
        [
          {
            "node": "Update Existing Entry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert New Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Existing Entry": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Entry": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Get All Today Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Today Scores": {
      "main": [
        [
          {
            "node": "Calculate Ranks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Ranks": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Update Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Rank": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        null,
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-05T00:00:00.000Z",
  "versionId": "1"
}
