Dump/Quiz Results Handler.json
{
  "name": "Quiz Results Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quiz-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d1ff28d6-a55a-425b-9ac3-7208c31ec6ef",
      "name": "Webhook - Quiz Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -208,
        240
      ],
      "webhookId": "quiz-submit"
    },
    {
      "parameters": {
        "jsCode": "// Extract and validate quiz results data\nconst body = $input.item.json.body;\n\n// Validate required fields\nif (!body.student_id || !body.quiz_date || body.score === undefined) {\n  throw new Error('Missing required fields: student_id, quiz_date, or score');\n}\n\n// Prepare quiz results data\nconst quizResults = {\n  student_id: body.student_id,\n  student_name: body.student_name || 'Unknown',\n  session_id: body.session_id || null,\n  quiz_date: body.quiz_date,\n  total_questions: body.total_questions || 0,\n  correct_answers: body.correct_answers || 0,\n  score: parseFloat(body.score),\n  time_taken_seconds: body.time_taken_seconds || 0,\n  answers_json: body.answers_json || {},\n  concepts_tested: body.concepts_tested || []\n};\n\n// Prepare individual answers for concept mastery updates\nconst answers = body.answers_json?.questions || [];\n\nreturn {\n  quizResults,\n  answers,\n  currentDate: new Date().toISOString().split('T')[0]\n};"
      },
      "id": "628fb22b-8d2d-450c-861d-43ab5f4569ae",
      "name": "Parse Quiz Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        240
      ]
    },
    {
      "parameters": {
        "tableId": "quiz_results"
      },
      "id": "4c60bfc7-5e1b-4c23-8bd3-6cce51c36766",
      "name": "Insert Quiz Results",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eAvDfFxsUQu0FqWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "leaderboard",
        "limit": 100
      },
      "id": "c2d76101-7afa-42e4-a458-4d74278f1d8d",
      "name": "Get Today's Leaderboard",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        192,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eAvDfFxsUQu0FqWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate leaderboard rankings\nconst parseData = $('Parse Quiz Data').first().json;\nconst currentLeaderboard = $input.all();\n\n// Add current student to leaderboard\nconst allEntries = [\n  ...currentLeaderboard.map(item => item.json),\n  {\n    student_id: parseData.quizResults.student_id,\n    quiz_date: parseData.currentDate,\n    score: parseData.quizResults.score,\n    time_taken_seconds: parseData.quizResults.time_taken_seconds\n  }\n];\n\n// Sort by score (descending), then by time (ascending for tie-breaking)\nallEntries.sort((a, b) => {\n  if (b.score !== a.score) {\n    return b.score - a.score;\n  }\n  return a.time_taken_seconds - b.time_taken_seconds;\n});\n\n// Assign ranks\nconst rankedEntries = allEntries.map((entry, index) => ({\n  ...entry,\n  rank: index + 1\n}));\n\n// Find current student's entry\nconst currentStudentEntry = rankedEntries.find(\n  entry => entry.student_id === parseData.quizResults.student_id\n);\n\nreturn {\n  student_id: currentStudentEntry.student_id,\n  quiz_date: currentStudentEntry.quiz_date,\n  score: currentStudentEntry.score,\n  rank: currentStudentEntry.rank,\n  time_taken_seconds: currentStudentEntry.time_taken_seconds\n};"
      },
      "id": "6f171d03-476e-4597-aeeb-b9708c002128",
      "name": "Calculate Rank",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://https://wvzvfzjjiamjkibegvip.supabase.co/rest/v1/leaderboard",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "student_id",
              "value": "={{ $json.student_id }}"
            },
            {
              "name": "quiz_date",
              "value": "={{ $json.quiz_date }}"
            },
            {
              "name": "score",
              "value": "={{ $json.score }}"
            },
            {
              "name": "rank",
              "value": "={{ $json.rank }}"
            },
            {
              "name": "time_taken_seconds",
              "value": "={{ $json.time_taken_seconds }}"
            }
          ]
        },
        "options": {}
      },
      "id": "ebf48b73-ad8c-4a22-b707-a08db61f544e",
      "name": "Upsert Leaderboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        336
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eAvDfFxsUQu0FqWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract answers for concept mastery updates\nconst parseData = $('Parse Quiz Data').first().json;\nconst answers = parseData.answers || [];\n\n// Group answers by concept\nconst conceptUpdates = {};\n\nanswers.forEach(answer => {\n  const concept = answer.concept_tested;\n  if (!concept) return;\n  \n  if (!conceptUpdates[concept]) {\n    conceptUpdates[concept] = {\n      concept_name: concept,\n      student_id: parseData.quizResults.student_id,\n      correct: 0,\n      wrong: 0,\n      total: 0\n    };\n  }\n  \n  conceptUpdates[concept].total++;\n  if (answer.is_correct) {\n    conceptUpdates[concept].correct++;\n  } else {\n    conceptUpdates[concept].wrong++;\n  }\n});\n\n// Convert to array for processing\nreturn Object.values(conceptUpdates).map(update => ({\n  ...update,\n  currentDate: parseData.currentDate\n}));"
      },
      "id": "a18edd01-c6bc-47aa-92bc-15f015621246",
      "name": "Prepare Concept Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        128
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "concept_mastery",
        "limit": 1
      },
      "id": "207985a4-f745-4a97-8a65-10399d1c5e9f",
      "name": "Get Existing Mastery",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        592,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eAvDfFxsUQu0FqWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate new mastery score using SRS algorithm\nconst currentItem = $('Prepare Concept Updates').item.json;\nconst existingMastery = $input.all().length > 0 ? $input.all()[0].json : null;\n\n// Initialize or get current values\nlet masteryScore = existingMastery?.mastery_score || 0;\nlet timesPracticed = existingMastery?.times_practiced || 0;\nlet timesCorrect = existingMastery?.times_correct || 0;\nlet timesWrong = existingMastery?.times_wrong || 0;\n\n// Update based on current performance\ntimesPracticed += currentItem.total;\ntimesCorrect += currentItem.correct;\ntimesWrong += currentItem.wrong;\n\n// Adjust mastery score\nconst scoreChange = (currentItem.correct * 15) - (currentItem.wrong * 10);\nmasteryScore = Math.max(0, Math.min(100, masteryScore + scoreChange));\n\n// SRS: Calculate next review date\nlet nextReviewDays;\nif (masteryScore < 40) {\n  nextReviewDays = 1;\n} else if (masteryScore < 60) {\n  nextReviewDays = 3;\n} else if (masteryScore < 75) {\n  nextReviewDays = 7;\n} else if (masteryScore < 90) {\n  nextReviewDays = 14;\n} else {\n  nextReviewDays = 30;\n}\n\nconst nextReviewDate = new Date();\nnextReviewDate.setDate(nextReviewDate.getDate() + nextReviewDays);\n\nreturn {\n  student_id: currentItem.student_id,\n  concept_name: currentItem.concept_name,\n  mastery_score: Math.round(masteryScore),\n  times_practiced: timesPracticed,\n  times_correct: timesCorrect,\n  times_wrong: timesWrong,\n  last_practiced_date: currentItem.currentDate,\n  next_review_date: nextReviewDate.toISOString().split('T')[0]\n};"
      },
      "id": "78794834-8426-4255-9077-2b7dc32e0649",
      "name": "Calculate New Mastery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        128
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://https://wvzvfzjjiamjkibegvip.supabase.co/rest/v1/concept_mastery",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "student_id",
              "value": "={{ $json.student_id }}"
            },
            {
              "name": "concept_name",
              "value": "={{ $json.concept_name }}"
            },
            {
              "name": "mastery_score",
              "value": "={{ $json.mastery_score }}"
            },
            {
              "name": "times_practiced",
              "value": "={{ $json.times_practiced }}"
            },
            {
              "name": "times_correct",
              "value": "={{ $json.times_correct }}"
            },
            {
              "name": "times_wrong",
              "value": "={{ $json.times_wrong }}"
            },
            {
              "name": "last_practiced_date",
              "value": "={{ $json.last_practiced_date }}"
            },
            {
              "name": "next_review_date",
              "value": "={{ $json.next_review_date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d3cc470d-86bd-46ef-b6f1-f92297b40033",
      "name": "Upsert Concept Mastery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        992,
        128
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eAvDfFxsUQu0FqWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({\n  success: true,\n  message: 'Quiz results submitted successfully',\n  score: $('Parse Quiz Data').item.json.quizResults.score,\n  rank: $('Calculate Rank').item.json.rank,\n  concepts_updated: $('Upsert Concept Mastery').all().length\n}) }}",
        "options": {}
      },
      "id": "1062834c-cf22-449e-be70-d5b397825c13",
      "name": "Respond with Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        240
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook - Quiz Submit": {
      "main": [
        [
          {
            "node": "Parse Quiz Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quiz Data": {
      "main": [
        [
          {
            "node": "Insert Quiz Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Today's Leaderboard",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Concept Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Quiz Results": {
      "main": [
        [
          {
            "node": "Respond with Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today's Leaderboard": {
      "main": [
        [
          {
            "node": "Calculate Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Rank": {
      "main": [
        [
          {
            "node": "Upsert Leaderboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Leaderboard": {
      "main": [
        [
          {
            "node": "Respond with Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Concept Updates": {
      "main": [
        [
          {
            "node": "Get Existing Mastery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Mastery": {
      "main": [
        [
          {
            "node": "Calculate New Mastery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate New Mastery": {
      "main": [
        [
          {
            "node": "Upsert Concept Mastery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Concept Mastery": {
      "main": [
        [
          {
            "node": "Respond with Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "2c876c66-26c5-4ec0-90de-02a9bddf93db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acf90b95f0b6959226bd5420313505cb5237e8f9845dccec5e7bed8b7eaf113d"
  },
  "id": "Fizr3kKSk3l2mApQ",
  "tags": [
    {
      "name": "fluence-jarvis-quiz-comp",
      "id": "tIuYKGskyJrOdWOh",
      "createdAt": "2025-10-04T08:34:26.445Z",
      "updatedAt": "2025-10-04T08:34:26.445Z"
    }
  ]
}