Dump/Quiz Results Handler (2).json
{
  "name": "Quiz Results Handler",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quiz-submit",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e1b602e6-8d4e-44b4-b735-d5dd08a7fce4",
      "name": "Webhook - Quiz Submit",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -928,
        320
      ],
      "webhookId": "quiz-submit"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Extract and validate quiz results data\n  const body = $input.item.json.body;\n\n  // Validate required fields\n  if (!body.student_id || !body.quiz_date || body.score === undefined) {\n    throw new Error('Missing required fields: student_id, quiz_date, or score');\n  }\n\n  // Prepare quiz results data\n  const quizResults = {\n    student_id: body.student_id,\n    student_name: body.student_name || 'Unknown',\n    session_id: body.session_id || null,\n    quiz_date: body.quiz_date,\n    total_questions: body.total_questions || 0,\n    correct_answers: body.correct_answers || 0,\n    score: parseFloat(body.score),\n    time_taken_seconds: body.time_taken_seconds || 0,\n    total_score: body.total_score || 0,\n    answers_json: body.answers_json || {},\n    concept_names: body.concept_names || []\n  };\n\n  // Prepare individual answers for concept mastery updates\n  const answers = body.answers_json?.questions || [];\n\n  return {\n    quizResults,\n    answers,\n    currentDate: new Date().toISOString().split('T')[0]\n  };"
      },
      "id": "dbbc6246-fede-40d6-b86a-d133a5500e2e",
      "name": "Parse Quiz Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -736,
        320
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO quiz_results (\n    student_id,\n    quiz_date,\n    total_questions,\n    correct_answers,\n    score,\n    time_taken_seconds,\n    total_score,\n    answers_json,\n    concept_names\n  ) VALUES (\n    '{{ $json.quizResults.student_id }}',\n    '{{ $json.quizResults.quiz_date }}',\n    {{ $json.quizResults.total_questions }},\n    {{ $json.quizResults.correct_answers }},\n    {{ $json.quizResults.score }},\n    {{ $json.quizResults.time_taken_seconds }},\n    {{ $json.quizResults.total_score ?? 0 }},\n    '{{ JSON.stringify($json.quizResults.answers_json).replace(/'/g, \"''\") }}'::jsonb,\n    ARRAY[{{ ($json.quizResults.concept_names || []).map(c => `'${c.replace(/'/g, \"''\")}'`).join(',') }}]::text[]\n  )\n  RETURNING *;",
        "options": {}
      },
      "id": "240bbeb0-12b2-419e-8913-3960f50dc137",
      "name": "Insert Quiz Results",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -512,
        80
      ],
      "credentials": {
        "postgres": {
          "id": "LNOChIKgyESKB8eU",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract answers for concept mastery updates\nconst parseData = $('Parse Quiz Data').first().json;\nconst answers = parseData.answers || [];\n\n// Group answers by concept\nconst conceptUpdates = {};\n\nanswers.forEach(answer => {\n  const concept = answer.concept_tested;\n  if (!concept) return;\n  \n  if (!conceptUpdates[concept]) {\n    conceptUpdates[concept] = {\n      concept_name: concept,\n      student_id: parseData.quizResults.student_id,\n      correct: 0,\n      wrong: 0,\n      total: 0\n    };\n  }\n  \n  conceptUpdates[concept].total++;\n  if (answer.is_correct) {\n    conceptUpdates[concept].correct++;\n  } else {\n    conceptUpdates[concept].wrong++;\n  }\n});\n\n// Convert to array for processing\nreturn Object.values(conceptUpdates).map(update => ({\n  ...update,\n  currentDate: parseData.currentDate\n}));"
      },
      "id": "55ebca50-93a8-40a7-8065-3a73112c664d",
      "name": "Prepare Concept Updates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -528,
        320
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "concept_mastery",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "student_id",
              "condition": "eq",
              "keyValue": "={{ $json.student_id }}"
            },
            {
              "keyName": "concept_name",
              "condition": "eq",
              "keyValue": "={{ $json.concept_name }}"
            }
          ]
        }
      },
      "id": "1ab48e5f-c36a-42b6-9d8c-deeeda3708a9",
      "name": "Get Existing Mastery",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -336,
        320
      ],
      "retryOnFail": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "eAvDfFxsUQu0FqWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get data from Prepare Concept Updates\n  const conceptUpdate = $('Prepare Concept Updates').all()[0].json;\n\n  // Try to get existing mastery (may be empty if first time)\n  const existingMastery = $input.all().length > 0 ? $input.all()[0].json : null;\n\n  // Initialize values (will be 0 if no existing record)\n  let masteryScore = existingMastery?.mastery_score || 0;\n  let timesPracticed = existingMastery?.times_practiced || 0;\n  let timesCorrect = existingMastery?.times_correct || 0;\n  let timesWrong = existingMastery?.times_wrong || 0;\n\n  // Update based on current performance\n  timesPracticed += conceptUpdate.total || 0;\n  timesCorrect += conceptUpdate.correct || 0;\n  timesWrong += conceptUpdate.wrong || 0;\n\n  // Adjust mastery score\n  const scoreChange = ((conceptUpdate.correct || 0) * 15) - ((conceptUpdate.wrong || 0) * 10);\n  masteryScore = Math.max(0, Math.min(100, masteryScore + scoreChange));\n\n  // SRS: Calculate next review date\n  let nextReviewDays;\n  if (masteryScore < 40) {\n    nextReviewDays = 1;\n  } else if (masteryScore < 60) {\n    nextReviewDays = 3;\n  } else if (masteryScore < 75) {\n    nextReviewDays = 7;\n  } else if (masteryScore < 90) {\n    nextReviewDays = 14;\n  } else {\n    nextReviewDays = 30;\n  }\n\n  const nextReviewDate = new Date();\n  nextReviewDate.setDate(nextReviewDate.getDate() + nextReviewDays);\n\n  return [{\n    json: {\n      student_id: conceptUpdate.student_id,\n      concept_name: conceptUpdate.concept_name,\n      mastery_score: Math.round(masteryScore),\n      times_practiced: timesPracticed,\n      times_correct: timesCorrect,\n      times_wrong: timesWrong,\n      last_practiced_date: conceptUpdate.currentDate,\n      next_review_date: nextReviewDate.toISOString().split('T')[0]\n    }\n  }];"
      },
      "id": "1171c277-63d1-4fed-a629-5e6067e746fb",
      "name": "Calculate New Mastery",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wvzvfzjjiamjkibegvip.supabase.co/rest/v1/concept_mastery?on_conflict=student_id,concept_name",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates,return=representation"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "student_id",
              "value": "={{ $json.student_id }}"
            },
            {
              "name": "concept_name",
              "value": "={{ $json.concept_name }}"
            },
            {
              "name": "mastery_score",
              "value": "={{ $json.mastery_score }}"
            },
            {
              "name": "times_practiced",
              "value": "={{ $json.times_practiced }}"
            },
            {
              "name": "times_correct",
              "value": "={{ $json.times_correct }}"
            },
            {
              "name": "times_wrong",
              "value": "={{ $json.times_wrong }}"
            },
            {
              "name": "last_practiced_date",
              "value": "={{ $json.last_practiced_date }}"
            },
            {
              "name": "next_review_date",
              "value": "={{ $json.next_review_date }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c15b3f12-b64d-4434-a6c1-fb04e09c434b",
      "name": "Upsert Concept Mastery",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        80,
        320
      ],
      "credentials": {
        "supabaseApi": {
          "id": "eAvDfFxsUQu0FqWu",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leaderboard (student_id, quiz_date, score, time_taken_seconds, rank) VALUES ('{{ $('Parse Quiz Data').item.json.quizResults.student_id }}', '{{ $('Parse Quiz Data').item.json.currentDate }}', {{ $('Parse Quiz Data').item.json.quizResults.score }}, {{ $('Parse Quiz Data').item.json.quizResults.time_taken_seconds }}, 999) ON CONFLICT (student_id, quiz_date) DO UPDATE SET score = EXCLUDED.score, time_taken_seconds = EXCLUDED.time_taken_seconds, rank = 999 RETURNING *;",
        "options": {}
      },
      "id": "2b149e40-4b5f-4a60-a007-1778a0f1f451",
      "name": "Upsert Leaderboard Entry",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -528,
        624
      ],
      "credentials": {
        "postgres": {
          "id": "LNOChIKgyESKB8eU",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, student_id, score, time_taken_seconds FROM leaderboard WHERE quiz_date = '{{ $('Parse Quiz Data').item.json.currentDate }}' ORDER BY score DESC, time_taken_seconds ASC;",
        "options": {}
      },
      "id": "b039f006-d917-4619-bea8-d6774618fcec",
      "name": "Get All Today Scores",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        288,
        576
      ],
      "credentials": {
        "postgres": {
          "id": "LNOChIKgyESKB8eU",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH ranked_scores AS (\n  SELECT id, ROW_NUMBER() OVER (ORDER BY score DESC, time_taken_seconds ASC) as new_rank\n  FROM leaderboard\n  WHERE quiz_date = '{{ $('Parse Quiz Data').item.json.currentDate }}'\n)\nUPDATE leaderboard\nSET rank = ranked_scores.new_rank\nFROM ranked_scores\nWHERE leaderboard.id = ranked_scores.id\nRETURNING *;",
        "options": {}
      },
      "id": "f1e3e2a5-3203-4e8b-b865-af9086e8c4bb",
      "name": "Update All Ranks",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        480,
        416
      ],
      "credentials": {
        "postgres": {
          "id": "LNOChIKgyESKB8eU",
          "name": "Supabase PostgreSQL"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Parse Quiz Data').item.json.quizResults;\nconst allScores = $('Get All Today Scores').all();\n\nconst studentEntry = allScores.find(entry => \n  entry.json.student_id === webhookData.student_id\n);\n\nconst rank = studentEntry ? \n  allScores.findIndex(entry => entry.json.id === studentEntry.json.id) + 1 \n  : null;\n\nreturn [{\n  json: {\n    success: true,\n    message: \"Quiz results submitted and leaderboard updated successfully\",\n    data: {\n      score: webhookData.score,\n      rank: rank,\n      total_students: allScores.length,\n      concepts_to_review: [],\n      next_milestone: \"Keep going!\"\n    }\n  }\n}];"
      },
      "id": "0845346e-895d-4645-90af-8be522c54a83",
      "name": "Prepare Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "a1bd7b05-a4ef-4d47-b395-fa54339ba7ab",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1280,
        320
      ]
    }
  ],
  "pinData": {
    "Webhook - Quiz Submit": [
      {
        "json": {
          "headers": {
            "host": "n8n.myworkflow.top",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/141.0.0.0 Safari/537.36",
            "content-length": "11416",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "en-US,en;q=0.9",
            "content-type": "application/json",
            "origin": "http://localhost:3000",
            "priority": "u=1, i",
            "referer": "http://localhost:3000/",
            "sec-ch-ua": "\"Google Chrome\";v=\"141\", \"Not?A_Brand\";v=\"8\", \"Chromium\";v=\"141\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "49.47.8.12",
            "x-forwarded-host": "n8n.myworkflow.top",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "2ad35d5f05a4",
            "x-real-ip": "49.47.8.12"
          },
          "params": {},
          "query": {},
          "body": {
            "student_id": "98825c00-fb8f-46dc-bec7-3cdd8880efea",
            "student_name": "Anaya",
            "quiz_date": "2025-10-12",
            "total_questions": 30,
            "correct_answers": 7,
            "incorrect_answers": 23,
            "score": 23.333333333333332,
            "time_taken_seconds": 121,
            "highest_streak": 2,
            "total_score": 76,
            "power_ups_used": {
              "fifty_fifty": 0,
              "blaster": 0,
              "extra_time": 0
            },
            "answers_json": {
              "questions": [
                {
                  "question_id": "54fb9343-1cc5-41e4-8e68-ea5ced0e8a99",
                  "question_text": "Based on the teacher's list, which of these requires the article 'the'?",
                  "question_type": "mcq",
                  "student_answer": "The name of a single mountain",
                  "correct_answer": "The name of a historical event",
                  "is_correct": false,
                  "time_spent": 3,
                  "points_earned": 0,
                  "concept_tested": "Article Usage"
                },
                {
                  "question_id": "6285d4e5-fe65-40ec-8879-c1c680497ca2",
                  "question_text": "Which sentence means you will arrange for someone else to repair the AC?",
                  "question_type": "mcq",
                  "student_answer": "I had the AC repaired.",
                  "correct_answer": "I will get the AC repaired.",
                  "is_correct": false,
                  "time_spent": 3,
                  "points_earned": 0,
                  "concept_tested": "Causative Form"
                },
                {
                  "question_id": "d53486fb-1145-4d72-a4b2-5c34d16cf6e8",
                  "question_text": "Which word was spelled correctly during the homework review?",
                  "question_type": "mcq",
                  "student_answer": "Thier",
                  "correct_answer": "Christmas",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Spelling Corrections"
                },
                {
                  "question_id": "20da4a7c-a16f-4024-a6fa-c1e75751b37d",
                  "question_text": "The sentence 'If I were the Prime Minister...' is used to talk about...",
                  "question_type": "mcq",
                  "student_answer": "a hypothetical or imaginary situation.",
                  "correct_answer": "a hypothetical or imaginary situation.",
                  "is_correct": true,
                  "time_spent": 1,
                  "points_earned": 128,
                  "concept_tested": "Conditional Sentences (Type 2)"
                },
                {
                  "question_id": "799ad4d6-d756-4588-bd43-c57972d43df9",
                  "question_text": "What does 'He need not play' mean?",
                  "question_type": "mcq",
                  "student_answer": "It is not necessary for him to play.",
                  "correct_answer": "It is not necessary for him to play.",
                  "is_correct": true,
                  "time_spent": 66,
                  "points_earned": 10,
                  "concept_tested": "Modal Verbs (Need not)"
                },
                {
                  "question_id": "219daec0-a269-49cd-a260-ade2309d0262",
                  "question_text": "Which of these means 'मैं खेलती थी'?",
                  "question_type": "mcq",
                  "student_answer": "I had played.",
                  "correct_answer": "I used to play.",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Past Habits (Used to)"
                },
                {
                  "question_id": "a0f155d0-1041-460b-97f1-13fbdd4b4979",
                  "question_text": "For a strong obligation like attending an assembly, which modal did the teacher use?",
                  "question_type": "mcq",
                  "student_answer": "must",
                  "correct_answer": "must",
                  "is_correct": true,
                  "time_spent": 1,
                  "points_earned": 128,
                  "concept_tested": "Modal Verbs (Must)"
                },
                {
                  "question_id": "8bc26909-3699-420b-8cec-e03a48b209e5",
                  "question_text": "Which preposition is correct for a specific date like the 25th of December?",
                  "question_type": "mcq",
                  "student_answer": "on",
                  "correct_answer": "on",
                  "is_correct": true,
                  "time_spent": 1,
                  "points_earned": 128,
                  "concept_tested": "Prepositions of Time (On)"
                },
                {
                  "question_id": "229b3d08-311f-452c-bf84-bd465f153266",
                  "question_text": "Choose the correct question for the answer 'I am playing.'",
                  "question_type": "mcq",
                  "student_answer": "Have you played?",
                  "correct_answer": "Are you playing?",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Present Continuous Tense"
                },
                {
                  "question_id": "3bedd450-899a-41df-836e-616d8d4c124c",
                  "question_text": "The sentence 'I did not play' is the correct negative form of 'I played'.",
                  "question_type": "true_false",
                  "student_answer": "false",
                  "correct_answer": "True",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Simple Past Tense (Negative)"
                },
                {
                  "question_id": "3d4a8cb6-2c04-443e-b316-cca7c4e9eb8b",
                  "question_text": "According to the teacher, 'the' should be used before abstract nouns like 'love'.",
                  "question_type": "true_false",
                  "student_answer": "false",
                  "correct_answer": "False",
                  "is_correct": true,
                  "time_spent": 0,
                  "points_earned": 130,
                  "concept_tested": "Article Usage"
                },
                {
                  "question_id": "b17548f6-9bee-4102-8b70-40203ae6e5d5",
                  "question_text": "The sentence 'The shopkeeper had closed the shop' is in the passive voice.",
                  "question_type": "true_false",
                  "student_answer": "false",
                  "correct_answer": "False",
                  "is_correct": true,
                  "time_spent": 1,
                  "points_earned": 128,
                  "concept_tested": "Active and Passive Voice"
                },
                {
                  "question_id": "5c72c235-5666-4b7b-8572-0f1a782d5d17",
                  "question_text": "'I had to go' means that it was necessary for me to go in the past.",
                  "question_type": "true_false",
                  "student_answer": "false",
                  "correct_answer": "True",
                  "is_correct": false,
                  "time_spent": 0,
                  "points_earned": 0,
                  "concept_tested": "Modal Verbs (Had to)"
                },
                {
                  "question_id": "8e568b08-1967-430c-9810-fbf8c9db3b94",
                  "question_text": "The teacher said the article 'the' is used before ordinal numbers like 'first'.",
                  "question_type": "true_false",
                  "student_answer": "false",
                  "correct_answer": "True",
                  "is_correct": false,
                  "time_spent": 0,
                  "points_earned": 0,
                  "concept_tested": "Article Usage"
                },
                {
                  "question_id": "00072192-e732-44a4-b936-23fe7ccc373b",
                  "question_text": "How do you tell Anaya 'ghar na jaae'?",
                  "question_type": "short_answer",
                  "student_answer": "a",
                  "correct_answer": "Tell Anaya not to go home.",
                  "is_correct": false,
                  "time_spent": 3,
                  "points_earned": 0,
                  "concept_tested": "Imperative Negatives"
                },
                {
                  "question_id": "0b2127cc-f4f6-4c67-89d6-8f5153971682",
                  "question_text": "Why use passive voice for 'the shop'?",
                  "question_type": "short_answer",
                  "student_answer": "a",
                  "correct_answer": "The shop is an object; it cannot close itself.",
                  "is_correct": false,
                  "time_spent": 2,
                  "points_earned": 0,
                  "concept_tested": "Passive Voice"
                },
                {
                  "question_id": "642207c9-a6d5-4fae-a714-4be3f4f15a4b",
                  "question_text": "When is 'the' used with comparative adjectives?",
                  "question_type": "short_answer",
                  "student_answer": "a",
                  "correct_answer": "When there is a sense of selection.",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Article Usage with Comparatives"
                },
                {
                  "question_id": "8bd952dd-7590-4dea-b85f-273c9662999a",
                  "question_text": "What does 'I could have played' imply?",
                  "question_type": "short_answer",
                  "student_answer": "a",
                  "correct_answer": "A missed opportunity to play in the past.",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Modal Verbs (Could have)"
                },
                {
                  "question_id": "4eac6ebf-cba2-4bf1-9a14-188090d4eee8",
                  "question_text": "What is the error in 'I did not went'?",
                  "question_type": "short_answer",
                  "student_answer": "a",
                  "correct_answer": "After 'did not', the base verb form is used.",
                  "is_correct": false,
                  "time_spent": 2,
                  "points_earned": 0,
                  "concept_tested": "Simple Past Tense (Negative)"
                },
                {
                  "question_id": "90210f04-e867-4125-8570-7230181aea6d",
                  "question_text": "What word means to say something in an exaggerated way?",
                  "question_type": "short_answer",
                  "student_answer": "a",
                  "correct_answer": "Exaggerating.",
                  "is_correct": true,
                  "time_spent": 3,
                  "points_earned": 124,
                  "concept_tested": "Vocabulary"
                },
                {
                  "question_id": "051bce58-c80d-4a30-ac73-9fe018d14241",
                  "question_text": "I am going ___ the road.",
                  "question_type": "fill_blank",
                  "student_answer": "a",
                  "correct_answer": "across",
                  "is_correct": false,
                  "time_spent": 2,
                  "points_earned": 0,
                  "concept_tested": "Prepositions of Movement"
                },
                {
                  "question_id": "03cdc71f-ba7d-4bd6-a496-ced3b82bfbbd",
                  "question_text": "He ___ on playing.",
                  "question_type": "fill_blank",
                  "student_answer": "a",
                  "correct_answer": "kept",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Phrasal Verbs (Keep on)"
                },
                {
                  "question_id": "a6a6a5fb-b15b-4096-95f1-3b68e2c12a8f",
                  "question_text": "___ I come? (Asking if it's necessary)",
                  "question_type": "fill_blank",
                  "student_answer": "a",
                  "correct_answer": "Need",
                  "is_correct": false,
                  "time_spent": 2,
                  "points_earned": 0,
                  "concept_tested": "Modal Verbs (Need)"
                },
                {
                  "question_id": "3cdf9cd0-773b-4a8e-b32c-092de8f4e1ab",
                  "question_text": "If I ___ the Prime Minister, I would change the rules.",
                  "question_type": "fill_blank",
                  "student_answer": "a",
                  "correct_answer": "were",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Conditional Sentences (Type 2)"
                },
                {
                  "question_id": "a2f2bf80-89e5-4ac3-b61f-a9bcfdefdcd2",
                  "question_text": "Anaya had been doing garba ___ two months.",
                  "question_type": "fill_blank",
                  "student_answer": "a",
                  "correct_answer": "for",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Prepositions of Time (For/Since)"
                },
                {
                  "question_id": "0b0aa015-1827-40ea-bc23-97ce9e2f4827",
                  "question_text": "I ___ play. (Emphasizing that you do play)",
                  "question_type": "fill_blank",
                  "student_answer": "a",
                  "correct_answer": "do",
                  "is_correct": false,
                  "time_spent": 1,
                  "points_earned": 0,
                  "concept_tested": "Emphatic Tense"
                },
                {
                  "question_id": "4d6326b8-7424-4d99-aaa4-5cada531fe45",
                  "question_text": "Match the modal verb to its primary function.",
                  "question_type": "match",
                  "student_answer": "{\"May\":\"Formal Permission\",\"Can\":\"Strong Obligation\",\"Must\":\"Ability\"}",
                  "correct_answer": "{\"May\":\"Formal Permission\",\"Can\":\"Ability\",\"Must\":\"Strong Obligation\"}",
                  "is_correct": false,
                  "time_spent": 2,
                  "points_earned": 0,
                  "concept_tested": "Modal Verbs"
                },
                {
                  "question_id": "34911a2e-e40a-4443-b1e1-25dab8c0300b",
                  "question_text": "Match the concept to its correct example.",
                  "question_type": "match",
                  "student_answer": "{\"Article with Superlative\":\"The shop had already been closed.\",\"Passive Voice\":\"I will get the AC repaired.\",\"Causative Form\":\"Is the biggest festival of Christians.\"}",
                  "correct_answer": "{\"Article with Superlative\":\"Is the biggest festival of Christians.\",\"Passive Voice\":\"The shop had already been closed.\",\"Causative Form\":\"I will get the AC repaired.\"}",
                  "is_correct": false,
                  "time_spent": 2,
                  "points_earned": 0,
                  "concept_tested": "Grammar Terminology"
                },
                {
                  "question_id": "dcb0720e-8c75-4501-bcd8-e983c8953f94",
                  "question_text": "Match the tense with its sentence structure.",
                  "question_type": "match",
                  "student_answer": "{\"Present Perfect Continuous\":\"I will have reached Dehradun tomorrow.\",\"Past Perfect\":\"The train had already departed.\",\"Future Perfect\":\"I have been studying for five hours.\"}",
                  "correct_answer": "{\"Present Perfect Continuous\":\"I have been studying for five hours.\",\"Past Perfect\":\"The train had already departed.\",\"Future Perfect\":\"I will have reached Dehradun tomorrow.\"}",
                  "is_correct": false,
                  "time_spent": 2,
                  "points_earned": 0,
                  "concept_tested": "Tense Identification"
                },
                {
                  "question_id": "9a9a5fec-59d4-4c2a-a7d9-1d22ae6c6a52",
                  "question_text": "Match the Hindi question word to its English meaning.",
                  "question_type": "match",
                  "student_answer": "{\"क्या\":\"What\",\"कैसे\":\"With whom\",\"किसके साथ\":\"How\"}",
                  "correct_answer": "{\"क्या\":\"What\",\"कैसे\":\"How\",\"किसके साथ\":\"With whom\"}",
                  "is_correct": false,
                  "time_spent": 0,
                  "points_earned": 0,
                  "concept_tested": "Interrogative Words"
                }
              ],
              "metadata": {
                "correct_count": 7,
                "incorrect_count": 23,
                "questions_attempted": 30,
                "completion_rate": 100
              }
            },
            "concepts_tested": [
              "Article Usage",
              "Causative Form",
              "Spelling Corrections",
              "Conditional Sentences (Type 2)",
              "Modal Verbs (Need not)",
              "Past Habits (Used to)",
              "Modal Verbs (Must)",
              "Prepositions of Time (On)",
              "Present Continuous Tense",
              "Simple Past Tense (Negative)",
              "Active and Passive Voice",
              "Modal Verbs (Had to)",
              "Imperative Negatives",
              "Passive Voice",
              "Article Usage with Comparatives",
              "Modal Verbs (Could have)",
              "Vocabulary",
              "Prepositions of Movement",
              "Phrasal Verbs (Keep on)",
              "Modal Verbs (Need)",
              "Prepositions of Time (For/Since)",
              "Emphatic Tense",
              "Modal Verbs",
              "Grammar Terminology",
              "Tense Identification",
              "Interrogative Words"
            ]
          },
          "webhookUrl": "https://n8n.myworkflow.top/webhook/quiz-submit",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook - Quiz Submit": {
      "main": [
        [
          {
            "node": "Parse Quiz Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Quiz Data": {
      "main": [
        [
          {
            "node": "Insert Quiz Results",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Concept Updates",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upsert Leaderboard Entry",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Concept Updates": {
      "main": [
        [
          {
            "node": "Get Existing Mastery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Existing Mastery": {
      "main": [
        [
          {
            "node": "Calculate New Mastery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate New Mastery": {
      "main": [
        [
          {
            "node": "Upsert Concept Mastery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Leaderboard Entry": {
      "main": [
        [
          {
            "node": "Get All Today Scores",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Today Scores": {
      "main": [
        [
          {
            "node": "Update All Ranks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update All Ranks": {
      "main": [
        [
          {
            "node": "Prepare Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "55e9d3d5-dcb8-427a-a17e-c1aaff6c69ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "acf90b95f0b6959226bd5420313505cb5237e8f9845dccec5e7bed8b7eaf113d"
  },
  "id": "Fizr3kKSk3l2mApQ",
  "tags": [
    {
      "createdAt": "2025-10-04T08:34:26.445Z",
      "updatedAt": "2025-10-04T08:34:26.445Z",
      "id": "tIuYKGskyJrOdWOh",
      "name": "fluence-jarvis-quiz-comp"
    }
  ]
}